header {
	margin: 2%;
}

body {
	text-align: center;
	background-color: #fff3f9;
	font-family: "Helvetica", sans-serif;
}

h1 {
	text-align: center;
	color: #999;
	position: relative;
	margin: 2%;
}

.container {
	display: block;
	margin: auto;
	position: relative;
	width: 50%;
}

.image {
	display: block;
	margin: auto;
	width: 50%;
	border-radius: 8px;
}

.text {
  color: #999;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#search {
	padding: 1%;
	margin: 0px 0px 20px 0px;
	font-size: 14px;
}

#gifSection {
	display: block;
	margin: auto;
}

#gif {
	width: 60%;
}